### GENERAL SETTINGS ###

# Site settings
title: "清华大学TUNA协会"
brand: "清华大学 TUNA 协会"
description: "前·清华大学网管会"
baseurl: "" #important: start with /
url: "http://www.tuna.moe"

# Build settings
markdown: kramdown
permalink: /:categories/:year/:title
excerpt_separator: <!--more--> #use this in posts to define how long the excerpt of the post (that is shown on the Blog page) is
gems: [jekyll-sass]

### CONTACT SETTINGS ###

# Social networks usernames. Many more available: google-plus, flickr, linkedin, etc). Shown in footer.
# social:
#   - title: dribbble
#     url:
#   - title: facebook
#     url:
#   - title: twitter
#     url: 
#   - title: instagram
#     url: 
#   - title: tumblr
#     url: 
    
# Postal address (add as many lines as necessary). Shown in footer and on Contact page.
# address:
#   - lines: 
#     - Some Ave, 987,
#     - 23890, New York,
#     - United States.
# email: hello@solidtheme.com
# tel: +34 8493-4893


### GENERAL DATA FOR VARIOUS LOCATIONS ###
    
# Members information. Shown on About page.
# members:
#   - name: Mark Webber
#     position: CEO
#     text: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
#     img: team01.jpg
#     social:
#       - title: envelope #use for email address
#         url: mailto:name@domain.com
#       - title: twitter
#         url: http://twitter.com/handle
#   - name: Paul Jameson
#     position: Lead Designer
#     text: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
#     img: team02.jpg
#     social:
#       - title: envelope #use for email address
#         url: mailto:name@domain.com
#       - title: twitter
#         url: http://twitter.com/handle
#   - name: Laura Sommers
#     position: Lead Developer
#     text: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
#     img: team03.jpg
#     social:
#       - title: envelope #use for email address
#         url: mailto:name@domain.com
#       - title: twitter
#         url: http://twitter.com/handle
#   - name: Martin Blunt
#     position: Marketing
#     text: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
#     img: team04.jpg
#     social:
#       - title: envelope #use for email address
#         url: mailto:name@domain.com
#       - title: twitter
#         url: http://twitter.com/handle
    
# Clients information. Shown on Home and About pages.
# clients:
#   - name: dribbble
#     img: client01.png
#   - name: Code is Poetry
#     img: client02.png
#   - name: Vimeo
#     img: client03.png
#   - name: VimeoPro
#     img: client04.png
    
# Short text about your company. Shown in footer on every page and also separately on Home and Contact page.
about: "清华大学TUNA协会前身是清华大学网管会，是由清华大学网络技术和开源软件爱好者、技术宅组成的团体。"

# Testimonial content. Shown on Home and About page. 
# testimonial:
#     message: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
#     author: Marcel Newman
#     position: WEB DESIGNER - BLACKTIE.CO
