---
layout: default
permalink: /
jsEntry: main
---

<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2># 线上服务 </h2>
      </div>
    </div>
    <div class="row text-center mt-5" id="service-list">
      <div class="col-lg-3 col-6">
        <a href="https://mirrors.tuna.tsinghua.edu.cn/">{% include pic.html name="service/mirrors" %}</a>
        <h4>开源镜像站 <a href="https://mirrors.tuna.tsinghua.edu.cn/">{% fa_svg far.fa-hand-point-right %}</i></a></h4>
        <p>多快好省</p>
      </div>
      <div class="col-lg-3 col-6">
        <a href="{{ "/help/dns/" | prepend: site.baseurl }}">{% include pic.html name="service/dns" %}</a>
        <h4>DNS666 <a href="{{ "/help/dns/" | prepend: site.baseurl }}">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>101.6.6.6 / 2001:da8::666</p>
      </div>
      <div class="col-lg-3 col-6">
        <a href="{{ "/help/ntp/" | prepend: site.baseurl }}">{% include pic.html name="service/ntp" %}</a>
        <h4>网络授时 <a href="{{ "/help/ntp/" | prepend: site.baseurl }}">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>准时准点</p>
      </div>
{% unless site.isthu %}
      <div class="col-lg-3 col-6">
        <a href="https://fishroom.tuna.moe/">{% include pic.html name="service/fishroom" %}</a>
        <h4>鱼屋 <a href="https://fishroom.tuna.moe/">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>一起聊天</p>
      </div>
      <div class="col-lg-3 col-6">
        <a href="https://live.tuna.tsinghua.edu.cn/">{% include pic.html name="service/live" %}</a>
        <h4>直播 <a href="https://live.tuna.tsinghua.edu.cn/">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>TUNA TV</p>
      </div>
      <div class="col-lg-3 col-6">
        <a href="http://dm.tuna.moe/">{% include pic.html name="service/danmaku" %}</a>
        <h4>弹幕 <a href="http://dm.tuna.moe/">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>互动演讲</p>
      </div>
      <div class="col-lg-3 col-6">
        <a href="{{ "/cal/" | prepend: site.baseurl }}">{% include pic.html name="service/calendar" %}</a>
        <h4>活动日历 <a href="{{ "/cal/" | prepend: site.baseurl }}">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>不要错过活动</p>
      </div>
{% endunless %}
      <div class="col-lg-3 col-6">
        <a href="https://github.com/tuna/issues/">{% include pic.html name="service/issues" %}</a>
        <h4>Issues <a href="https://github.com/tuna/issues/">{% fa_svg far.fa-hand-point-right %}</a></h4>
        <p>Bug 提交/意见反馈</p>
      </div>
    </div>
  </div><!--/container -->
</div><!--/service -->

<div class="container">
  <div class="row flex-row-reverse">
    <div id="recent-events" class="col-lg-6 col-12">
      <h2> # 活动公告 </h2>
      {% for event in site.categories['event'] limit:5 %}
      <div class="event pb-3">
        <div class="event-title">
          <a href="{{ event.url | prepend: site.baseurl }}">
             <h4>{{ event.title }}</h4>
          </a>
        </div>
        <div class="event-meta mb-2">
          <span class="me-2"><strong>时间: </strong>{{event.date | date: "%F"}}{% if event.time %} {{event.time}} {% endif %}</span>
          <span class="me-2"><strong>地点:</strong> {{event.place}}</span>
          <span class="event-status" data-event-date="{{event.date | date: "%F"}}">
          </span>
        {% if event.video or event.slides or event.youtube or event.audio %}
        <br>
        <span><strong>资源链接: </strong></span>
        {% if event.audio %}
        <a data-toggle="tooltip" title="录音下载" class="badge text-bg-info" href="{{event.audio}}" target="_blank">{% fa_svg fas.fa-headphones %}</a>
        {% endif %}
        {% if event.video %}
        <a data-toggle="tooltip" title="录像下载" class="badge text-bg-info" href="{{event.video}}" target="_blank">{% fa_svg fas.fa-video %}</a>
        {% endif %}
        {% if event.youtube %}
        <a data-toggle="tooltip" title="YouTube 在线播放" class="badge text-bg-info" href="{{event.youtube}}" target="_blank">{% fa_svg fab.fa-youtube %}</a>
        {% endif %}
        {% if event.slides %}
        <a data-toggle="tooltip" title="讲稿下载" class="badge text-bg-info" href="{{event.slides}}" target="_blank">{% fa_svg fas.fa-file %}</a>
        {% endif %}
        {% endif %}
        </div>
        <div class="event-abstract">
        {{ event.excerpt | strip_html | truncate: 240, '...'}}
        </div>
      </div>
      {% endfor %}
      <div>
        <a href={{"/events/"|prepend: site.baseurl}}>{% fa_svg far.fa-hand-point-right %} 所有活动</a>
      </div>
    </div>
    <div id="recent-posts" class="col-lg-6 col-12">
      <h2> # 最近文章 </h2>
      {% for post in site.categories['blog'] limit:5 %}
      <div class="post pb-3">
        <div class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">
             <h4>{% fa_svg fas.fa-file-lines %} {{ post.title }}</h4>
          </a>
        </div>
        <div class="post-meta text-secondary mb-2">
          {{post.author}}, {{post.date | date: "%Y-%-m-%-d"}}
        </div>
        <div class="post-abstract">
        {{ post.excerpt | strip_html | truncate: 240, '...'}}
        </div>
      </div>
      {% endfor %}
      <div>
        <a href={{"/blog/"|prepend: site.baseurl}}>{% fa_svg far.fa-hand-point-right %} 所有文章</a>
      </div>
    </div>
  </div>
  <div class="row">
  <div id="join-tuna" class="col-lg-12">
    <h2> # 加入我们 </h2>
    <h4>订阅邮件列表</h4>
    <p>发送任意内容邮件到 <a href="mailto:tuna-general+subscribe@googlegroups.com">tuna-general+subscribe@googlegroups.com</a>, 并回复确认邮件。</p>
    <h4>加入 Telegram 群组</h4>
    <p>详见页面底部的联系方式。</p>
    <h4>如果你是清华学生</h4>
    <p>除了上面的步骤，请填写 <a href="https://join.tuna.tsinghua.edu.cn/">这个表单</a>，并在 <a href="http://shetuan.student.tsinghua.edu.cn/f/ckstzy/20140027">校团委社团部平台</a> 点击 "我要加入" 加入协会。</p>
  </div>
  </div>
</div>

<div id="join-button" class="d-lg-none position-fixed bottom-0 w-100 z-3 border-top bg-body p-3">
  <div class="container">
    <div class="row">
      <div class="btn-group btn-group-justified col-12">
        <a class="btn btn-large btn-success" href="https://join.tuna.tsinghua.edu.cn/"> 加入TUNA / Join Us </a>
      </div>
    </div>
  </div>
</div>

<!--
vim: ts=2 sts=2 sw=2 expandtab
-->
