---
layout: index
title: Home
permalink: /
---

<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2># 线上服务 </h2>
      </div>
    </div>
    <div class="row centered" id="service-list">
      <div class="col-md-2">
        <img src="{{ "/assets/img/service/mirrors.png" | prepend: site.baseurl }}" />
        <h4>开源镜像源 <a href="http://mirrors.tuna.tsinghua.edu.cn/"><i class="fa fa-hand-o-right"></i></a></h4>
        <p>苏醒中 ... ...</p>
      </div>
      <div class="col-md-2">
        <img src="{{ "/assets/img/service/web-irc.png" | prepend: site.baseurl }}" />
        <h4>IRC 聊天室 <a href="{{ "/irc/" | prepend: site.baseurl }}"><i class="fa fa-hand-o-right"></i></a></h4>
        <p>来这里灌水</p>
      </div>
    </div>
  </div><!--/container -->
</div><!--/service -->

<!-- { include portfolio.html title="LATEST WORKS" limit=10 %}-->
<div class="container">
  <div class="row">
    <div id="recent-posts" class="col-md-6">
      <h2> # 最近文章 </h2> 
      {% for post in site.categories['blog'] limit:5 %} 
      <div class="post">
        <div class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">
             <h4><i class="fa fa-file-text-o"></i> {{ post.title }}</h4>
          </a>
        </div>
        <div class="post-meta">
          {{post.author}}, {{post.date | date: "%Y-%-m-%-d"}}
        </div>
        <div class="post-abstract">
        {{ post.excerpt | strip_html | truncate: 140, '...'}}
        </div>
      </div>
      {% endfor %} 
      <div>
        <a href={{"/blog/"|prepend: site.baseurl}}><i class="fa fa-hand-o-right"></i> 所有文章</a>
      </div>
    </div>
    <div id="recent-events" class="col-md-6">
      <h2> # 活动公告 </h2> 
      {% for event in site.categories['event'] limit:5 %} 
      <div class="event" data-event-date="{{event.date | date: "%F"}}">
        <div class="event-title">
          <a href="{{ event.url | prepend: site.baseurl }}">
             <h4>{{ event.title }}</h4>
          </a>
        </div>
        <div class="event-meta">
          <span><strong>时间: </strong>{{event.date | date: "%F"}}{% if event.time %} {{event.time}} {% endif %}</span>
          <span><strong>地点:</strong> {{event.place}}</span>
        </div>
        <div class="event-abstract">
        {{ event.excerpt | strip_html | truncate: 140, '...'}}
        </div>
      </div>
      {% endfor %} 
      <div>
        <a href={{"/events/"|prepend: site.baseurl}}><i class="fa fa-hand-o-right"></i> 所有活动</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var today = function() { 
    var pad = function (number) {
      var r = String(number);
      if ( r.length === 1 ) {
        r = '0' + r;
      }
      return r;
    }

    var _today = new Date();
    return Date.parse(
      _today.getFullYear().toString() + "-"
      + pad(_today.getMonth()+1) + "-"
      + pad(_today.getDate())
    );

  }();

  $('#recent-events .event').each(function() {
    // console.log($(this).attr("data-event-date"));
    var event_date = Date.parse($(this).attr("data-event-date")),
        label = "";
    if (today > event_date) {
      label = "<span class='label label-info'>Finished</span>";
    } else {
      label = "<span class='label label-warning'>Upcoming</span>";
    }
    $(this).find(".event-meta").append(label);
  });
});
</script>
