<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://groups.google.com/forum/#!forum/tuna-general">{% fa_svg fas.fa-envelope %} Mailing List </a>
                  </li>
                  <li>
                    <a href="mailto:join@tuna.tsinghua.edu.cn?subject=Request%20to%20join%20TUNA%20Telegram%20Group&body=Introduce%20yourself%20briefly%20and%20provide%20your%20Telegram%20username.">{% fa_svg fab.fa-telegram %} Telegram (mail us to get invited) </a>
                  </li>
                  <li>
                    <a href="https://web.libera.chat/#tuna">{% fa_svg fas.fa-hashtag %} #tuna at Libera.Chat </a>
                  </li>
                  <li>
                    <a href="https://github.com/tuna/">{% fa_svg fab.fa-github %} GitHub </a>
                  </li>
                  <!-- <li>
                    <a href="https://secure.flickr.com/groups/tuna/">{% fa_svg fab.fa-flickr %} Flickr</a>
                  </li>
                  <li>
                    <a href="http://weibo.com/u/5402274706">{% fa_svg fab.fa-weibo %} 新浪微博</a>
                  </li> -->
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              {% include pic.html name="logo-white" %}
              <p style="color: #384452"> The best team on the planet. </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->
