<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-lg-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://groups.google.com/forum/#!forum/tuna-general"><i class="fa fa-envelope"></i> Mailing List</a>
                  </li>
                  <li>
                  IRC: <a href="{{ "/irc/" | prepend: site.baseurl }}">#tuna at freenode</a>
                  </li>
                  <li>
                    <a href="https://github.com/tuna/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                  <li>
                    <a href="https://secure.flickr.com/groups/tuna/"><i class="fa fa-flickr"></i> Flickr</a>
                  </li>
                  <li>
                    <a href="http://page.renren.com/601908241"><i class="fa fa-renren"></i> 人人公共主页</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4">
              <img class="img-responsive" src="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }}" />
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
