<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.about  }}">
{% if site.google_verify %}
    <meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %}
<link rel="shortcut icon" href="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}">
<link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="{{ site.title }}" />

{% capture page_title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}{% endcapture %}

<!-- Open Graph metadata -->
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{{ site.about  }}" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/logo-share.png" /> <!-- WeChat requires that thumbnail image is larger than 300x300 -->
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
{% if page.date %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{page.date | date_to_xmlschema}}"/>
{% if page.author %}<meta property="article:author" content="{{ site.brand }}"/>{% endif %}
{% else %}
<meta property="og:type" content="website" />
{% endif %}

<title>{{ page_title }}</title>
{% include vite_script.html %}
<link rel="stylesheet" href="{% vite_asset_path bs3-polyfill.scss %}" media="screen" integrity="sha256-OnlyforlegacybrowsersAAAAAAAAAAAAAAAAAAAAAA=" />
</head>
