<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><!--
   -->{% include pic.html name="logo-small" %} {{ site.brand }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.permalink == "/" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li {% if page.permalink == "/events/" or page.categories contains "event"  %}class="active"{% endif %}><a href="{{"/events/" | prepend: site.baseurl }}">EVENTS</a></li>
        <li {% if page.permalink == "/blog/" or page.categories contains "blog" %}class="active"{% endif %}><a href="{{"/blog/" | prepend: site.baseurl }}">BLOG</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        <li><a href="https://podcast.tuna.moe/">PODCAST</a></li>
        <li><a href="http://mirrors.tuna.tsinghua.edu.cn/">MIRRORS</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
