<picture>
{%- for theme in (1..2) reversed -%}
  {%- assign srcset = "" -%}
  {%- for size in (1..4) -%}
    {% capture filename %}assets/img/{{include.name}}{% if theme == 2 %}-dark{% endif %}{% if size > 1 %}@{{ size }}x{%endif%}.png{% endcapture %}
    {%- iffileexists {{filename}} -%}
      {% capture srcset %}{{srcset}}{{filename | prepend: '/' | prepend: site.baseurl }} {{size}}x, {% endcapture %}
    {%- endiffileexists -%}
  {%- endfor -%}
  {%- assign srcset = srcset | split: ", " | join: ", " -%}
  {% if theme == 1 %}
  <img src="{{site.baseurl}}/assets/img/{{include.name}}.png" srcset="{{srcset}}" />
  {% elsif srcset.size > 0 %}
  <source srcset="{{srcset}}" media="(prefers-color-scheme: dark)" />
  {% endif %}
{%- endfor -%}
</picture>
