<div class="col-lg-3">
    <section class="mb-3">
      <h4 class="border-bottom pb-2">Subscribe</h4>
      <p class="rss-subscribe">{% fa_svg fas.fa-rss %} Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
    </section>
    <section class="mb-3">
      <h4 class="border-bottom pb-2">Categories</h4>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "event" %}
        <p>
            <a href="{{ category.url }}">{% fa_svg fas.fa-angle-right %} {{ category | first | capitalize }}</a>
            <span class="badge text-bg-theme float-end">{{ category | last | size }}</span>
        </p>
    {% endunless %}{% endfor %}
    </section>
    <section>
      <h4 class="border-bottom pb-2">Popular Tags</h4>
      <p>
          {% for category in site.categories %}{% unless category.first == "blog" or category.first == "event" %}
              <a class="btn btn-theme" href="{{ category.url }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>
          {% endunless %}{% endfor %}
      </p>
    </section>
</div>
