$color_zhenghun: #EC407A;

.zhenghun {
  display: inline-flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 100px;
  color: $color_zhenghun;

  padding-bottom: 36px;

  .zhenghun-sub {
    opacity: 0.3;
    font-size: 24px;
    color: $color_secondary;
  }

  &.superzhenghun {
    animation: superpero 1s linear infinite;
  }
}

#pero {
  position: fixed;
  width: 150px;
  height: 200px;

  top: 0;
  left: 0;

  z-index: 10000;

  background: url(/assets/img/peropero.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

  &:hover {
    animation: superpero 1s linear infinite;
  }
}

@media (min-width: 768px) {
  .zhenghun {
    padding: 64px 0;
    padding-bottom: 0;
  }
}

@keyframes superpero {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.pero-background {
  background: #880E4F;
  color: #F06292;

  font-size: 480px;

  position: fixed;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: white 0 0 100px;

  animation: beating 1s ease-out infinite;
}

@keyframes beating {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
