---
layout: default
---

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8 col-lg-offset-2">
            <! -- Blog Post  -->
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <div class="event-meta">
              <span><strong>{% fa_svg fas.fa-calendar %} 时间: </strong>{{page.date | date: "%F"}}{% if page.time %} {{page.time}} {% endif %}</span>
              <span><strong>{% fa_svg fas.fa-location-dot %} 地点:</strong> {{page.place}}</span>
              <span class="event-tags">
                {% for tag in page.tags %}
                <span class="label label-success">{{tag}}</span>
                {% endfor %}
              </span>
              {% if page.video or page.slides or page.youtube or page.audio %}
              <br>
              <span><strong>{% fa_svg fas.fa-cloud-arrow-down %} 资源链接: </strong></span>
              {% if page.audio %}
              <a data-toggle="tooltip" title="录音下载" class="label label-info" href="{{page.audio}}" target="_blank">{% fa_svg fas.fa-headphones %}</i></a>
              {% endif %}
              {% if page.video %}
              <a data-toggle="tooltip" title="录像下载" class="label label-info" href="{{page.video}}" target="_blank">{% fa_svg fas.fa-video %}</a>
              {% endif %}
              {% if page.youtube %}
              <a data-toggle="tooltip" title="YouTube 在线播放" class="label label-info" href="{{page.youtube}}" target="_blank">{% fa_svg fab.fa-youtube %}</a>
              {% endif %}
              {% if page.slides %}
              <a data-toggle="tooltip" title="讲稿下载" class="label label-info" href="{{page.slides}}" target="_blank">{% fa_svg fas.fa-file %}</a>
              {% endif %}
              {% endif %}
            </div>
              
            {{ content }}

            <div class="spacing"></div>
        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
